<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Inscription à BookWork effectué.</h1>
    <p>
      Vous allez recevoir des mails quotidien du Lundi Au Vendredi à 9h ainsi que des emails à chaque réservation.
      Email souscrit: <%= @user.email %>
    </p>
    <p>
      Demande faite le <%= @user.created_at %>
    </p>
    <p>Merci pour la souscription au service BookWork.</p>
  </body>
  <%= link_to "Unsubscribe", @unsubscribe_url %>
</html>
