<div class="hero min-h-screen bg-base-200">
  <div class="text-center hero-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
        BookWork
      </h1>
      <div class="form-control">
        <div class="flex space-x-2">
          <input type="text" placeholder="Search" class="w-full input input-primary input-bordered">
          <button class="btn btn-primary">go</button>
        </div>
      </div>
    </div>
  </div>
</div>
