<div class="hero min-h-screen bg-base-200">
  <div class="text-center hero-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
        BookWork
      </h1>
      <div class="form-control">
        <div class="flex space-x-2">
          <%= form_for @user do |f| %>
            <%= f.text_field :email, class: "w-full input input-primary input-bordered", placeholder: "Enter your email" %>
            <%= f.submit "Go", class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
